@font-face {
  font-family: 'Roboto';
  src: url('./../fonts/Roboto-Italic.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../fonts/Roboto-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #dedede;
  color: #333;
  transition: all 1s ease;
}

a {
  color: #333;
}
a:hover {
  text-decoration: none;
}
